$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

.pokemonCard {
  animation: fadeIn 0.5s ease-in-out;
  margin: 0 auto;
  border: 2px solid $color-red;
  background-color: $color-red;
  text-align: center;
  width: 205px;
  border-radius: 10px;
  box-shadow: 0 4px 8px $color-shadow;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px $color-shadow;
  }

  img {
    border-radius: 10px 10px 0 0;
    width: 204px;
    height: auto;
    background-color: $color-gray-light;
  }

  .pokemonInfo {
    font-size: 18px;
    display: flex;
    font-weight: bold;
    text-transform: capitalize;
    justify-content: space-between;
  }

  .catchButton {
    width: 126px;
    height: 30px;
    background-color: $color-white;
    color: $color-red;
    border: 2px solid $color-red;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover {
      background-color: $color-orange-dark;
      color: $color-white;
    }

    &:active {
      transform: translateY(2px);
    }

    &:disabled {
      background-color: $color-gray-light;
      color: $color-gray-medium;
      border: solid 2px transparent;
      pointer-events: none;
      cursor: not-allowed;

      &:hover {
        background-color: $color-gray-light;
        color: $color-gray-medium;
        border: solid 2px transparent;
      }

      &:active {
        background-color: $color-gray-light;
        color: $color-gray-medium;
      }
    }
  }

  .detailsContainer {
    padding: 2px 5px;
  }
}
