$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

.noPokemonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: $color-white;
  background: $color-red;
  border-radius: 20px;
  box-shadow: 0 4px 8px $color-shadow;
  overflow: hidden;
}

.bulbasaurImg {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 280px;
  object-fit: cover;
  margin: 20px 0;
}

h1 {
  font-size: 2.5em;
  color: $color-yellow;
  text-shadow: 2px 2px $color-black;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1.6;
  color: $color-white;
  text-shadow: 1px 1px $color-black;
}

ul {
  list-style-type: disc;
  margin: 20px 0;
  padding-left: 20px;
  text-align: left;
  color: $color-white;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: $color-yellow;
  text-shadow: 1px 1px $color-black;
}

strong {
  font-size: 1.2em;
  color: $color-orange-light;
}
